@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modifiers */

@layer utilities {
  .menu--open #menu-list {
    transform: translateX(0);
  }

  #header::before {
    display: none;
    position: fixed;
    content: "";
    inset: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
    transition: ease-out 0.2s;
  }

  #header.menu--open::before {
    display: block;
    opacity: 0.75;
  }

  .thumbnail--active {
    border-color: hsl(26, 100%, 55%);
  }

  .thumbnail--active::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: white;
    opacity: 0.75;
  }

  .thumbnail--active:hover::before {
    background-color: transparent;
  }

  #gallery-mode {
    display: none;
  }

  #gallery-mode.gallery--open {
    display: block;
  }
}

/* Animation */

@keyframes button {
  50% {
    transform: scale(1.02);
  }
}

@keyframes content-horizontal {
  0% {
    opacity: 0;
    transform: translateX(9%);
  }
}

@keyframes content-vertical {
  0% {
    opacity: 0;
    transform: translateY(7%);
  }
}

@media (min-width: 880px) {
  #content {
    animation: content-horizontal 0.7s ease-out;
    animation-fill-mode: forwards;
  }
  #add-to-cart-button {
    animation: button 0.5s ease-in;
    animation-delay: 0.5s;
  }
}

@media (min-width: 640px) and (max-width: 879px) {
  #content {
    animation: content-vertical 0.7s ease-out;
    animation-fill-mode: forwards;
  }
}
